/* src/index.css */
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #000; /* Black background */
  color: #fff; /* Light text for readability */
  font-family: Arial, sans-serif; /* Choose a clean, readable font */
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
